<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success text-center">
                <h6>Employees List</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Name</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Email</th>
                                <th>Contact No</th>
                                <th>Address</th>
                                <th>Pincode</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of employeeList; track $index) {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.state}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.contact}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.pincode}}</td>
                                    <td>
                                        <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-danger mx-2" (click)="onDelete(item.empId)">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success text-center">
                New Employee
            </div>
            <div class="card-body">
                <form [formGroup]="employeeForm">
                    <div class="row pt-2">
                        <div class="col-6">
                            <label for="">Name</label>
                            <input type="text" formControlName="name" class="form-control">
                            <div class="text-danger">
                                @if (employeeForm.controls['name'].touched) {
                                    @if (employeeForm.controls['name'].errors?.['required']) {
                                        <span> name is required</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" formControlName="city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">State</label>
                            <input type="text" formControlName="state" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Email</label>
                            <input type="text" formControlName="email" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contect No</label>
                            <input type="text" formControlName="contact" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Pincode</label>
                            <input type="text" formControlName="pincode" class="form-control">
                            <div class="text-danger">
                                @if (employeeForm.controls['pincode'].touched) {
                                    @if (employeeForm.controls['pincode'].errors?.['required']) {
                                        <span> pincode is required</span>
                                    }
                                    @if (employeeForm.controls['pincode'].errors?.['minlength']) {
                                        <span> pincode is required min 6 char</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="">Address</label>
                            <textarea formControlName="address" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                           @if (employeeForm.controls['empId'].value=='1') {
                            <button class="btn btn-success" type="button" [disabled]="employeeForm.invalid" (click)="onSave()">Save</button>
                           }
                           @else {
                            <button class="btn btn-warning" type="button" [disabled]="employeeForm.invalid" (click)="onUpdate()">Update</button>
                           }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>